{{ header }}

{{ content_top }}

<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<div class="container pt-5 pb-5">
            <p class="topic-name">Популярні категорії</pс>
                <i class="fa-solid fa-right-long p-1 center"><a href="#" class="topic-subname p-1">переглянути весь каталог
                        </a></i>
            <div class="row">
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/leather.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Догляд за шкірою</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/preparation.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Підготовчі матеріали</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/polish.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Полірування</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/towels.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Мікрофібри, губки, салфетки</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/cabin.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Для хімчистки</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/tyre.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Для дисків та резини</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/hand-wash.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center ">
                            <a href="#" class="">Ручне миття</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 p-2">
                    <div class="product-category-card p-3">
                        <div class="product-category-image text-center">
                            <a href="#">
                                <img src="/catalog/view/theme/summonrain/image/outfit.png" alt="">
                            </a>
                        </div>
                        <div class="category-details pt-3 text-center">
                            <a href="#" class="">Одяг та сувеніри</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap social">

            <div class="container pt-3 pb-3 category-details">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 p-2">
                        <div class="logo-card ms-auto me-auto ">
                            <div class="logo-image text-center">
                                <img src="/catalog/view/theme/summonrain/image/logotype.png" alt="car">
                            </div>
                            <div class="logo-desc d-block">
                                <a href="#" class="text-center">Підписуйтесь на <br> нас в соц. мережах!</a>
                                <div class="socials d-flex ms-auto">

                                    <a href="#" class="ms-auto p-2"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#" class="me-auto p-2"><i class="fa-brands fa-telegram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-2">
                        <div class="car-img">
                            <img src="/catalog/view/theme/summonrain/image/car (2).jpg" alt="car">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-2">
                        <div class="car-img">
                            <img src="/catalog/view/theme/summonrain/image/car (3).jpg" alt="car">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-2">
                        <div class="car-img">
                            <img src="/catalog/view/theme/summonrain/image/car (1).jpg" alt="car">
                        </div>
                    </div>
                </div>
            </div>

        </div>

{{ footer }}